<body>
    <h2>A Forum For Climate Science</h2>

    <a href="/forum/">Forum Home</a> <br>

    <a href="/forum/climatescience/addtopic/">Add Topic</a>

    <ul>
        {% for entry in entries %}
        <li><a href="/forum/climatescience/post_{{ entry.key }}"><h3 class="EntryText">{{ entry.title }}</h3></a></li>
        {% endfor %}
    </ul>

 
    <a href="/forum/climatescience/{{ page.0 }}"><p>{{ page.0 }}  </p></a>
    <a href="/forum/climatescience/{{ page.1 }}"><p>{{ page.1 }}  </p></a>
    <a href="/forum/climatescience/{{ page.2 }}"><p>{{ page.2 }}  </p></a>
    <a href="/forum/climatescience/{{ page.3 }}"><p>{{ page.3 }}  </p></a>
    <a href="/forum/climatescience/{{ page.4 }}"><p>{{ page.4 }}  </p></a>
    <a href="/forum/climatescience/{{ page.5 }}"><p>{{ page.5 }}  </p></a>
    <a href="/forum/climatescience/{{ page.6 }}"><p>{{ page.6 }}  </p></a>






</body>