@-webkit-keyframes in {
    0% { -webkit-transform: scale(0) rotate(12deg); opacity: 0; visibility: hidden;  }
    100% { -webkit-transform: scale(1) rotate(0); opacity: 1; visibility: visible; }
  }
  
@keyframes in {
    0% { transform: scale(0) rotate(12deg); opacity: 0; visibility: hidden;  }
    100% { transform: scale(1) rotate(0); opacity: 1; visibility: visible; }
}
  
@-webkit-keyframes out {
    0% { -webkit-transform: scale(1) rotate(0); opacity: 1; visibility: visible; }
    100% { -webkit-transform: scale(0) rotate(-12deg); opacity: 0; visibility: hidden; }
}
  
@keyframes out {
    0% { transform: scale(1) rotate(0); opacity: 1; visibility: visible; }
    100% { transform: scale(0) rotate(-12deg); opacity: 0; visibility: hidden;  }
}

.fade-enter-active,
.fade-leave-active {
    transition-duration: 0.3s;
    transition-property: opacity;
    transition-timing-function: ease;
}
  
.fade-enter,
.fade-leave-active {
    opacity: 0
}


.triggers {
    float: left;
}

.mainPanel {
    height: 400px;
    width: 900px;
    background-color: "#153183";
}

.presets {
    float: left;
}

.advancedTextInputs {
    width: 50px;
    float: left;
}

.togglePreset {
    clear: both;
}

#drawChart {
    position: absolute;
    display: none;
    background-color: "#153183";
    height: 200px;
    width: 900px;
    clear:both;
}

#drawChart.show {
    -webkit-animation: in 700ms ease both;
    animation: in 700ms ease both;
    background-color: "#153183";
    height: 200px;
    width: 900px;
}
  
#drawChart.hide {
    -webkit-animation: out 700ms ease both;
    animation: out 700ms ease both;
    background-color: "#153183";
    height: 200px;
    width: 900px;
}

#lineChart {
    position: absolute;
    display: none;
    clear: both;
}

#CO2Panel {
    display: none;
}

#CO2Panel.show {
    -webkit-animation: in 700ms ease both;
    animation: in 700ms ease both;
    height: 400px;
    width: 900px;
    background-color: "#153183";
}
  
#CO2Panel.hide {
    -webkit-animation: out 700ms ease both;
    animation: out 700ms ease both;
    height: 400px;
    width: 900px;
    background-color: "#153183";
}

#advancedCO2Panel {
    display: none;
}

#advancedCO2Panel.show {
    -webkit-animation: in 700ms ease both;
    animation: in 700ms ease both;
    height: 400px;
    width: 900px;
    background-color: "#153183";
}
  
#advancedCO2Panel.hide {
    -webkit-animation: out 700ms ease both;
    animation: out 700ms ease both;
    height: 400px;
    width: 900px;
    background-color: "#153183";
}

#temperaturePanel {
    display: none;
}

#temperaturePanel.show {
    -webkit-animation: in 700ms ease both;
    animation: in 700ms ease both;
    height: 400px;
    width: 900px;
    background-color: "#153183";
}
  
#temperaturePanel.hide {
    -webkit-animation: out 700ms ease both;
    animation: out 700ms ease both;
    height: 400px;
    width: 900px;
    background-color: "#153183";
}

#advancedTemperaturePanel {
    display: none;
}

#advancedTemperaturePanel.show {
    -webkit-animation: in 700ms ease both;
    animation: in 700ms ease both;
    height: 400px;
    width: 900px;
    background-color: "#153183";
}
  
#advancedTemperaturePanel.hide {
    -webkit-animation: out 700ms ease both;
    animation: out 700ms ease both;
    height: 400px;
    width: 900px;
    background-color: "#153183";
}