<body>
    <h2>News</h2>
    <br>

    <a href="/forum/"><button id="ForumButton">Forum Home</button></a> <br>



    <ul>
        {% for entry in entries %}
        <div class="ArticleEntry">
        <div class="Entry">
        <a class="Links" href="/news/post_{{ entry.key }}"><h2 class="EntryText">{{ entry.title }}</h2></a>
        </div>
        <div class="Date">
        <sub class="DateText">{{ entry.posted_date }}</sub>
        </div>
        <div class="preview">
        <p>{{ entry.text_preview }}</p>
        </div>
        </div>
        {% endfor %}
    </ul>

    {% for each in page %}
    <a href="/news/{{ each }}"><p>{{ each }}</p></a>
    {% endfor %}






</body>